In [1]:
import instaloader
import pandas as pd

# Use parameters to save diffrent metadata
L = instaloader.Instaloader(download_pictures=False,download_videos=False,download_comments=False,save_metadata=False)

C:\Users\Aditi\anaconda3\lib\site-packages\win_unicode_console\__init__.py:31: RuntimeWarning: sys.stdin.encoding == 'utf-8', whereas sys.stdout.encoding == 'UTF-8', readline hook consumer may assume they are the same
  readline_hook.enable(use_pyreadline=use_pyreadline)

In [36]:
#L.two_factor_login("053218")

#saving session to file 
#L.save_session_to_file(filename="janesessionhash")
L.load_session_from_file("notsmithjane",filename="janesessionstats")

Loaded session from janesessionstats.

In [17]:
#creating hashtag instance
#hashtag = instaloader.Hashtag.from_name(L.context,"berlinlibrary")
#hashtag.name
#hashtag.mediacount

In [3]:
from instaloader import Hashtag
h = Hashtag.from_name(L.context,"coding")
h.mediacount

5814628

In [4]:
statdata=pd.read_csv("statistichashtag.csv")
df=pd.DataFrame(statdata)
df.columns
df.drop(df.columns[0],axis=1,inplace=True)
df.head()

,Name,Instagram user,Followers,Following,Mediacount,Hashtagged
0,British Library,britishlibrary,379586,189,1995,70947
1,Library of Congress,librarycongress,155115,27,2013,914
2,New York Public Library,nypl,506012,478,4361,172956
3,Library and Archives Canada,libraryarchives,13237,395,270,1569
4,Russian State Library,leninka_official,14046,384,1516,69

In [35]:
#df.drop(df.columns[0],axis=1,inplace=True)
#df.head()

In [5]:
df.shape
#df.insert(5,"Hashtagged",0)
#df.head()

(69, 6)

In [9]:
#hashtag count:
for i in range(59,69):
    username=df.iloc[i,1]
    profile = instaloader.Profile.from_username(L.context, username)
    h = Hashtag.from_name(L.context,"{hash}".format(hash=username))
    df.iloc[i,5]=h.mediacount

In [10]:
df

,Name,Instagram user,Followers,Following,Mediacount,Hashtagged
0,British Library,britishlibrary,379586,189,1995,70947
1,Library of Congress,librarycongress,155115,27,2013,914
2,New York Public Library,nypl,506012,478,4361,172956
3,Library and Archives Canada,libraryarchives,13237,395,270,1569
4,Russian State Library,leninka_official,14046,384,1516,69
...,...,...,...,...,...,...
64,Toronto Public Library,torontolibrary,37675,1341,1857,7601
65,Western Libraries,westernulibs,3026,556,567,22
66,University Of Glasgow Library,uofglibrary,18416,702,1831,3734
67,National Library of Scotland,natlibscot,12905,624,1234,1065
68,UCLA Library,uclalibrary,10035,465,1704,595

In [11]:
import csv
df.to_csv('statistichashtag.csv')

In [ ]:
h = Hashtag.from_name(L.context,"nationallibraryofrome")
h.mediacount
#df.iloc[13,5]=h.mediacount

0